.DS_Store
dist

# SwiftPM
.build/
.swiftpm/

# Xcode
DerivedData/
xcuserdata/
*.hmap

# Editor
.vscode/

# Build artifacts
*.ipa
*.dSYM
*.dSYM.zip

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Dependency managers not used in this repo
Packages/
Package.pins
*.xcworkspace
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
